form {
    margin: 40px auto;
    display: grid;
    

    label {
        grid-column: 1;
        display: inline-block;
    }

    input {
        margin: 5px 0;
    }

    .submit {        
        margin: 5px 0 0 auto;
        background-color: #272228;
        color: white;
        min-width: 38px;
        min-height: 38px;
        padding: 0 20px;
        font-size: 1.8rem;
    }

}